{% extends 'base.html' %}
{% load static %}

{% block title%}My Education{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">MY EDUCATION</h1>
    <div class="text-center" id="education">
        <div class="d-inline-block">
            <img src="{% static "img/smp.png"%}" class="rounded float-left img-fluid" id="education-smp">
            <p class="text-center">
                SMPN 2 BEKASI
                <br>
                (2011-2014)
            </p>
        </div>
        <div class="d-inline-block">
            <img src="{% static "img/sma.png"%}" class="rounded mx-auto d-block img-fluid" id="education-sma">
            <p class="text-center">
                SMAN 1 BEKASI
                <br>
                (2014-2017)
            </p>
        </div>
        <div class="d-inline-block">
            <img src="{% static "img/kuliah.png"%}" class="rounded float-right img-fluid">
            <p class="text-center">
                UNIVERSITAS INDONESIA
                <br>
                (2017-NOW)
            </p>
        </div>
    </div>
    <div class="text-center">
        <img src="{% static "img/edu.png" %}" class="img-fluid" style="width: 10%">
    </div>
{% endblock %}