{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark-red">
                <a class="navbar-brand" href="#">PPW Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'story_3:index' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:about' %}">About</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:education' %}">Education</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:skill' %}">Skill</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:experience' %}">Experience</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:contact' %}">Contact</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:register' %}">Register</a>
                        <a class="nav-item nav-link" href="{% url 'story_3:schedule_list' %}">Schedule</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer class="footer text-right">
            <div class="container">
                <span class="small text-muted">web design and programming course 2018
                </span>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>

    </body>

</html>