{% extends 'base.html' %}
{% load static %}

{% block title%}My Profile{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">I AM RAY AZRIN</h1>
    <p class="lead text-center">Software Engineer. Product Manager. Web Developer</p>
    <div class="row" id="home">
        <div class="col-sm-6 order-sm-1 order-2">
            <p class="font-grey">
                Full Name : Ray Azrin Karim
                <br>
                Birthday : April 19th, 2000
                <br>
                Interest : Computer and techonlogies stuff
                <br>
                Occupation : Student
                <br>
                Nationality : Indonesian
                <br>
                Hobbies : Listening to music and reading books
            </p><br><br><br><br>
            <p>
                <strong>Information System student that strives to be a better person than himself yesterday.</strong>
            </p>
        </div>
        <div class="col-sm-6 order-sm-2 order-1">
            <img src="{% static "img/ray.jpg"%}" alt="" class="img-fluid rounded-circle" id="resize">
        </div>
    </div>
{% endblock %}